<!-- Loading Overlay -->
@if (loadingPercentage != 100) {
<div class="absolute top-0 left-0 z-10 bg-black h-screen w-full flex items-center justify-center text-white">
  {{ imagesLoaded !== frames.maxIndex ? loadingPercentage + '%' + ' Loading...' : 'Scroll to start' }}
</div>
}


<div class="w-full bg-zinc-900">
  <div class="parent w-full h-[2000vh] relative top-0 left-0"> <!-- parent -->
    <div class="sticky top-0 left-0 w-full h-screen overflow-x-hidden">
      <canvas class="w-full h-full" id="frame" #frame></canvas>

      <div class="anime1 absolute z-[2] text-white bottom-0 lg:w-1/2 w-full p-7 uppercase">
        <h1 class="leading-20 font-[100] lg:text-3xl text-xl">
          &copy; 2024 DOZE STD
        </h1>
        <h1 class="lg:text-3xl text-xl">
          Shaping brands → Crafting motion
        </h1>
      </div>

      <div
        class="anime2 absolute flex justify-end gap-4 items-start lg:w-1/2 w-full z-[2] text-white bottom-0 right-0 p-7 text-right opacity-0">
        <h1 class="leading-20 font-[100] lg:text-6xl text-lg uppercase ">
          Transforming Visions
        </h1>
        <h1 class="lg:text-xl text-base">
          Building identity and inspiring action. Sculpting digital expirience and resonate.
        </h1>
      </div>

      <div
        class="anime3 absolute z-[2] text-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center opacity-0">
        <h1 class="leading-20 font-[100] text-6xl uppercase ">
          Elevating Aesthetics
        </h1>
        <h1 class="text-xl">
          Crafting solutions and exploring new horizons. Evolving narratives and elevating aesthetics in every project.
        </h1>
      </div>

      <div class="lg:w-1/3 panel translate-x-full h-screen bg-white absolute right-0 top-0 z-[2] p-10">

        <h3 class="text-xl font-[100]">© 2024 Doze.std</h3>

        <p class="mt-10 text-xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptas deserunt voluptatibus libero veniam ad
          dicta maiores! Minima nam vero, fuga culpa accusantium quidem necessitatibus.
        </p>

        <button class="border px-3 py-2 border-[#555] font-[100] mt-6">
          Get Reviews →
        </button>

        <div class="absolute bottom-10">
          <h3>Innovating Design</h3>
          <p class="mt-3 text-sm">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui cum nostrum expedita consequatur aliquid
            nesciunt?
          </p>
          <button class="bg-black text-white px-7 text-sm mt-4 py-4 font-[100] capitalize">
            Experience
          </button>
        </div>

      </div>

      <div
        class="opacity-0 panelism absolute z-[2] text-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center text-6xl tracking-tighter">
        &copy;Panelism <span class="line w-10 h-1 bg-white inline-block"></span> 2048
      </div>

    </div>
  </div>

  <div class="w-full lg:px-10 lg:py-32 bg-white p-8 flex flex-col items-start gap-4">
    <h1 class="lg:text-8xl text-4xl tracking-tighter">&reg; Our Recent Works</h1>
    <div class="headings lg:w-1/2 w-full p-3 lg:mt-32 flex flex-col gap-10 capitalize items-start">
      <h3 class="lg:text-7xl text-[2rem]">Lorem ipsum</h3>
      <h3 class="lg:text-7xl text-[2rem]">dolor sit</h3>
      <h3 class="lg:text-7xl text-[2rem]">amet consectetur</h3>
      <h3 class="lg:text-7xl text-[2rem]">adipisicing elit</h3>
      <h3 class="lg:text-7xl text-[2rem]">Dignissimos, ipsa</h3>
      <h3 class="lg:text-7xl text-[2rem]">Quod earum</h3>
      <h3 class="lg:text-7xl text-[2rem]">hic aspernatur</h3>
      <h3 class="lg:text-7xl text-[2rem]">dolores perferendis</h3>
      <h3 class="lg:text-7xl text-[2rem]">soluta numquam</h3>
      <h3 class="lg:text-7xl text-[2rem]">repellat odio</h3>
      <h3 class="lg:text-7xl text-[2rem]">eum consequatur</h3>
      <h3 class="lg:text-7xl text-[2rem]">illo reiciendis</h3>
      <h3 class="lg:text-7xl text-[2rem]">ipsa dignissimos</h3>
      <h3 class="lg:text-7xl text-[2rem]">nostrum velit tempore</h3>
    </div>
  </div>
</div>